<div class="p-4" >
    <h5 class="txt_r">Términos y <span class="_androgyne">condiciones</span></h5>
    <p>
      En el presente documento se establecen las
      condiciones de uso a través de las cuales el
      usuario puede acceder a los servicios que
      contiene <b>La Aplicación móvil Haga Cuentas,</b>
      y se definen los derechos, obligaciones,
      consecuencias del incumplimiento de las
      disposiciones definidas y demás información
      relevante, para el uso de La Aplicación, entre
      el <b>Banco Davivienda Salvadoreño, S.A.</b> en adelante
      <b>“Banco Davivienda”</b> y el usuario, quienes
      conjuntamente se denominarán “Las Partes”.
    </p>
    <div>
      <p>
        <b class="txt_r">Cláusula Primera –Definiciones:</b> Para
        efectos del presente documento, se tendrán
        en cuenta las siguientes definiciones, las
        cuales podrán estar escritas en
        MAYÚSCULAS o minúsculas.
      </p>
      <p>
        <b>Aplicación Haga Cuentas:</b> Se define como
        aplicación de carácter informativo que le
        permite a un usuario el acceso a un programa
        informático, para la realización de una tarea o
        conjunto de tareas en el sistema donde se
        ejecuta. En adelante “La Aplicación”.
      </p>
      <p>
        <b>Usuario:</b> Se define como usuario, para efectos
        de La Aplicación, toda persona natural que
        descargue esta aplicación en su dispositivo
        móvil. En adelante el “Usuario”.
      </p>
    </div>
    <div>
      <p>
        <b class="txt_r">Cláusula Segunda -Uso de La Aplicación:</b>
        Los servicios de La Aplicación y contenidos
        tendrán las siguientes condiciones:
      </p>
      <ol>
        <li>
          El Usuario sólo podrá usar La Aplicación
          para su uso personal e intransferible.
        </li>
        <li>
          Para poner al servicio La Aplicación,
          Banco Davivienda podrá utilizar su propia plataforma
          tecnológica o la de un tercero designado por
          el banco que cumpla con adecuados
          estándares de seguridad. En tal caso, el
          Usuario autoriza expresamente a Banco Davivienda y
          al tercero a conocer la información necesaria
          para la ejecución del servicio, estrictamente
          con fines del correcto funcionamiento de esta
          aplicación.
        </li>
        <li>
          Los contenidos y servicios de La Aplicación
          estarán disponibles, a menos de que se
          presente fuerza mayor, caso fortuito o hecho
          de un tercero. Banco Davivienda procurará que en el
          menor tiempo posible se repare cualquier
          problema técnico que se hubiese presentado,
          tiempo en el cual es posible que La Aplicación
          no esté disponible durante ese lapso.
        </li>
        <li>
          El uso de La Aplicación no tiene costo y se
          podrá cancelar el servicio de La Aplicación,
          por cualquiera de las partes sin ninguna
          justificación y en cualquier momento.
        </li>
        <li>
          El Usuario ingresará los valores del
          presupuesto (en adelante Datos) de manera
          directa; por lo tanto, reconoce y acepta ser el
          único responsable de la exactitud de dichos
          Datos y por consiguiente del resultado del
          presupuesto.
        </li>
        <li>
          Banco Davivienda solicitará un Correo Electrónico
          y una Contraseña, para que el usuario de La
          Aplicación pueda acceder a la información de
          sus presupuestos registrados en caso de
          pérdida de los mismos o del dispositivo en
          que tenía La Aplicación. Si el usuario no desea
          registrar un Correo Electrónico, ni definir una
          Contraseña, igualmente puede hacer uso de
          La Aplicación, pero perderá la información en
          caso de pérdida del dispositivo o en caso de
          borrar memoria caché.
        </li>
        <li>
          El uso de La Aplicación no le otorga al usuario la
          propiedad de ninguno de los contenidos,
          códigos, datos o materiales a los que pueda
          acceder en o a través de La Aplicación.
        </li>
        <li>
          La Aplicación será descargada vía Internet
          por acceso a través del plan de datos del
          Usuario o de acceso a Wi-Fi. Banco Davivienda no
          proporciona estos accesos a Internet.
        </li>
      </ol>
    </div>
    <div>
      <p>
        <b class="txt_r">Cláusula Tercera – Servicios de La
          Aplicación:</b> Esta aplicación ha sido diseñada
        para facilitar al Usuario, únicamente, el
        control de su presupuesto con el fin de que
        maneje adecuadamente su dinero. Para este
        fin, La Aplicación ha desarrollado 3 secciones:
      </p>
      <ol>
        <li>
          Presupuesto: Permite al Usuario crear
          presupuestos personales en las diferentes
          categorías definidas en la Aplicación en dólares
          de los Estados Unidos de América.
          <br><br>
          En esta sección el usuario encontrará un
          resumen de sus ingresos y gastos.
          <br><br>
          Ingresos: el usuario registra los Datos de sus
          ingresos.
          <br><br>
          Gastos: el usuario registra los Datos de sus
          gastos.
        </li>
        <li>
          Programar Alertas: En esta sección el
          Usuario puede crear alertas internas de La
          Aplicación, para el manejo de su presupuesto
          o editar las ya existentes.
        </li>
        <li>
          Estadísticas: En esta sección el usuario
          encontrará detalles de la información de su
          presupuesto, dividido en 4 ítems.
          <div class="p-3" style="line-height:1.2">
            <div>
              <b class="txt_r">a.</b> Resumen de su presupuesto.
            </div>
            <div>
              <b class="txt_r">b.</b> Gastos por categorías, detallados
              mediante tabla o gráfica.
            </div>
            <div>
              <b class="txt_r">c.</b> Movimientos de sus Ingresos o Gastos.
            </div>
            <div>
              <b class="txt_r">d.</b> Comparar los últimos 3 o 6 meses de su
              presupuesto mediante tabla o gráfica.
            </div>
          </div>
          <div>
            <b class="txt_r">3.1</b> Todos los servicios
            anteriormente mencionados podrán ser
            modificados o eliminados por Banco Davivienda, sin
            previo aviso.
          </div>
          <div>
            <b class="txt_r">3.2.</b> Banco DAVIVIENDA podrá
            adoptar todos los mecanismos adicionales
            que estime convenientes, tales como,
            contraseñas de acceso. El Usuario acepta que
            Banco DAVIVIENDA será libre de determinar nuevas
            funcionalidades, formatos, procedimientos,
            condiciones y términos que se tendrán en
            cuenta en un futuro y que harán parte de La
            Aplicación.
          </div>
        </li>
      </ol>
    </div>
    <div>
      <p>
        <b class="txt_r">Cláusula Cuarta - Notificaciones:</b> La
        Aplicación Haga Cuentas cuenta también con
        notificaciones que el Usuario podrá visualizar
        en la sección notificaciones de su dispositivo
        según lo tenga determinado en la sección de
        Ajustes de su dispositivo, en donde podrá
        activar, desactivar o cambiar la visualización
        según sus preferencias personales. Banco Davivienda
        no tiene ninguna responsabilidad frente a las
        fallas que tenga la notificación de los
        dispositivos y, por lo tanto, el Usuario declara
        indemne a Banco Davivienda.
      </p>
    </div>
    <div>
      <p>
        <b class="txt_r">Cláusula Quinta - Almacenamiento de los
          Datos ingresados por el Usuario:</b> Para
        aquellos usuarios que suministren Correo
        Electrónico y contraseña, la información será
        almacenada en la plataforma tecnológica de
        Banco Davivienda o la de un tercero designado por el
        banco; la información allí almacenada será de
        uso exclusivo del Usuario. Para aquellos
        usuarios que no suministren Correo
        Electrónico y contraseña, el almacenamiento
        de los Datos ingresados por el Usuario en La
        Aplicación se realizará en su dispositivo móvil,
        ocupando espacio de su memoria interna.
      </p>
    </div>
    <div>
      <p>
        <b class="txt_r">Cláusula Sexta - Obligaciones del Usuario:</b>
        Además de las obligaciones que se enuncian
        en el presente documento, tendrá las
        siguientes:
      </p>
      <ol>
        <li>
          Usar debidamente los servicios y
          contenidos de La Aplicación, en especial a no
          impartir instrucciones imprecisas,
          indeterminables o inexactas.
        </li>
        <li>
          El Usuario se obliga a no divulgar y no dar a
          conocer a terceros su contraseña de acceso
          (si la llegase a tener).
        </li>
        <li>
          Establecer los controles necesarios con el
          fin de evitar que terceras personas puedan
          operar los servicios de La Aplicación,
          asegurando la confidencialidad de la
          contraseña de acceso.
        </li>
        <li>
          Manejar el dispositivo móvil de manera
          personal y evitar que terceros tengan acceso a
          la información aquí almacenada.
        </li>
        <li>
          Actualizar permanentemente La Aplicación,
          para su correcto funcionamiento.
        </li>
        <li>
          Emplear nombres de categorías lícitas que
          se ajusten a la realidad y no emplear nombres
          que se consideren discriminatorios, ofensivos,
          groseros o ilícitos.
        </li>
      </ol>
    </div>
    <div>
      <p>
        <b class="txt_r">Cláusula Séptima - Derechos:</b> La descarga
        de La Aplicación confiere al Usuario el
        derecho a su uso personal, de manera no
        exclusiva y no transferible.
        El Usuario reconoce que no adquiere ningún
        derecho de propiedad o derechos de
        propiedad intelectual al descargar La
        Aplicación.
        <br><br>
        El Usuario no tiene derecho a licenciar,
        vender, revender, re-licenciar, asignar,
        distribuir, anunciar, explotar o sacar provecho
        comercial alguno de La Aplicación, la marca,
        las herramientas o el servicio que provee. El
        Usuario no tiene derecho a modificar o a hacer
        trabajos basados en el software, partes del
        software o la marca Davivienda. El Usuario no
        tiene derecho a hacer links, hacer espejos de
        los servicios de Banco Davivienda o prestar el
        servicio a terceros. El Usuario no tiene
        derecho a hacer “reverse-engineering”
        (desarmar La Aplicación en sus componentes
        para entender su funcionamiento, así sea con
        fines académicos y/o no lucrativos).
        <br><br>
        Banco Davivienda tiene el pleno derecho de
        propiedad sobre La Aplicación, incluyendo
        pero no limitado a, cualesquiera derechos de
        autor, derechos de marca, derechos de
        patente, derechos de base de datos, derechos
        patrimoniales y los demás que se relacionen
        con La Aplicación.
        <br><br>
        <b>Banco DAVIVIENDA</b> se reserva el derecho de
        establecer límites a los movimientos que se
        realicen a través de los servicios de La
        Aplicación.
      </p>
    </div>
    <div>
      <p>
        <b class="txt_r">Cláusula Octava - Prohibiciones al Usuario:</b>
        Además de las establecidas en el presente
        documento, al Usuario le queda prohibido:
      </p>
      <ol>
        <li>
          Permitir que terceras personas operen los
          servicios y contenidos de La Aplicación.
        </li>
        <li>
          La copia, distribución, publicación o
          explotación comercial o promocional de La
          Aplicación o de cualquiera de los contenidos,
          códigos, datos o materiales de La Aplicación
          así como el software, en su totalidad, o en
          alguna de sus partes, sin permiso por escrito
          de Banco Davivienda, inclusive si el fin es una
          actividad sin ánimo de lucro.
        </li>
        <li>
          Vender a terceros La Aplicación o el
          software, o el acceso a la herramienta y los
          servicios que facilita Banco Davivienda.
        </li>
        <li>
          Intentar u obtener “acceso no autorizado” a
          otros sistemas de cómputo a través de La
          Aplicación, o usarla en violación de la
          propiedad intelectual o de otros derechos
          legales o patrimoniales de Banco Davivienda o de un
          tercero.
        </li>
      </ol>
    </div>
    <div>
      <p>
        <b class="txt_r">Cláusula Novena - Exoneración de
          Responsabilidad:</b> Banco Davivienda no será
        responsable, entre otros, por los siguientes
        eventos:
      </p>
      <ul>
        <li>
          Por el uso indebido de La Aplicación. En
          consecuencia, el Usuario asume toda
          responsabilidad del manejo no adecuado de
          La Aplicación o del dispositivo.
        </li>
        <li>
          Por los daños y perjuicios de cualquier
          naturaleza que pueda sufrir el Usuario como
          consecuencia de una imposibilidad, demora o
          deficiente transmisión de los Datos a causa
          del equipo del Usuario, el operador del
          servicio de datos o cualquier causa ajena al
          control de Banco Davivienda.
        </li>
        <li>
          Por las pérdidas o daños en la información
          de su cuenta que puedan ocurrir como
          consecuencia de cualquier fallo de
          almacenamiento producido por una mala
          transmisión de datos o un error en los
          sistemas informáticos.
        </li>
        <li>
          Fuerza mayor, caso fortuito, causa extraña o
          hecho de un tercero y que en un momento
          puedan ocasionarle daños y perjuicios al
          Usuario que imposibilite, demore, desvíe o
          altere la información ingresada por el Usuario
          y almacenada en su dispositivo o en la
          plataforma tecnológica que disponga
          Banco Davivienda
        </li>
        <li>
          Por los daños y perjuicios que puedan
          derivarse de la cancelación del servicio y/o
          suspensión del servicio por parte de los
          proveedores de telefonía celular o del sistema
          operativo iOS o Android.
        </li>
        <li>
          Por la confiabilidad del equipo empleado por
          el Usuario o de los medios de comunicación,
          ni por la disponibilidad de los servicios y
          contenidos de La Aplicación en el mismo.
        </li>
        <li>
          Por los daños ocasionados por cualquier
          tipo de virus que pudiere infectar al equipo a
          causa del acceso, uso o navegación a través
          de La Aplicación. Por cualquier tipo de
          programa que pueda borrar la memoria cache
          de los dispositivos.
        </li>
        <li>
          Por los resultados arrojados por La
          Aplicación conforme a los Datos suministrados
          por el Usuario.
        </li>
        <li>
          Por las decisiones tomadas por el Usuario al
          incluir los Datos en La Aplicación, toda vez
          que la misma no debe ser considerada como
          un consejo de inversión, ni calcula
          rendimientos, ni se puede entender como
          servicio de asesoría.
        </li>
      </ul>
    </div>
    <div>
      <p>
        <b class="txt_r">Cláusula Décima – Propiedad intelectual:</b>
        Los derechos de La Aplicación móvil Haga
        Cuentas son reservados y de propiedad del
        Banco Davivienda Salvadoreño, S.A., por lo tanto, el Usuario
        se compromete a no usarla para obstaculizar o
        impedir el correcto funcionamiento del
        sistema. Está totalmente prohibida la venta,
        copia, alteración y/o distribución del software,
        sus partes, y/o cualquiera de los componentes
        que hacen parte de dicha Aplicación.
        <br><br>
        Las marcas comerciales, logos, y demás
        signos distintivos expuestos en los contenidos
        de La Aplicación pertenecen exclusivamente a
        Banco Davivienda.
        <br><br>
        El uso indebido de las marcas, de La
        Aplicación y la reproducción total o parcial de
        dichos contenidos están prohibidos, salvo
        autorización expresa y por escrito de
        Banco Davivienda. El simple uso de los servicios no
        le da expresamente la autorización al Usuario
        para reproducir ninguna clase de contenido, ni
        marcas o signos distintivos.
        <br><br>
        Cualquier reproducción o redistribución está
        expresamente prohibida por la ley y puede
        conllevar sanciones civiles y penales.
      </p>
    </div>
    <div>
      <p>
        <b class="txt_r">Cláusula Décima Primera – Costos:</b>
        Banco Davivienda queda facultada para establecer y
        cobrar al Usuario las tarifas que defina por
        concepto de descargar La Aplicación, lo cual
        se regirá por la normatividad vigente. En este
        caso, se notificará con la debida anticipación
        al Usuario.
      </p>
    </div>
    <div>
      <p>
        <b class="txt_r">Cláusula Décima Segunda - Vigencia,
          Modificaciones y Terminación:</b> La prestación
        del servicio a través de La Aplicación tiene una
        duración indefinida. Sin embargo, Banco Davivienda
        se reserva el derecho de adicionar, suspender,
        y/o cancelar alguno de los servicios ofrecidos
        al Usuario a través de La Aplicación. Las
        modificaciones surtirán efecto tan pronto sean
        publicadas a través de La Aplicación.
        Así mismo, Banco Davivienda se reserva el derecho
        suspender y/o cancelar todos los servicios
        contenidos en La Aplicación.
      </p>
      <p>
        <b class="txt_r">12.1</b> Los presentes términos y
        condiciones pueden modificarse por parte de
        Banco Davivienda en cualquier momento sin ninguna
        notificación, sólo publicando los cambios en
        La Aplicación.
      </p>
    </div>
    <div>
      <p>
        <b class="txt_r">Cláusula Décima Tercera - Regulación:</b> La
        incorporación a los servicios de La Aplicación
        estará sujeta y se regulará por lo previsto en
        los presentes Términos y Condiciones y en lo
        previsto por la normatividad que rija la materia
        en El Salvador.
      </p>
    </div>
    <div>
      <p>
        <b class="txt_r">Cláusula Décima Cuarta - Ley Aplicable:</b>
        Para la interpretación, cumplimiento y
        ejecución de estos Términos y Condiciones de
        Uso, Banco Davivienda y el Usuario acuerdan que se
        regirán por las leyes de El Salvador.

        El presente documento de Términos y
        Condiciones constituye el acuerdo completo
        entre el Usuario y Banco Davivienda.
      </p>
    </div>
  </div>