<div class="d-flex py-2">
  <div class="col text-center" routerLink="index" routerLinkActive="active" style="line-height:5px">
    <div class="d-flex justify-content-center border-right" style="height: 2em;">
      <!-- <img *ngIf="newMov" src="/assets/img/icons/alert.png" class="position-absolute" style="margin: -12px 14px 6px;width: 28px;height: 28px;"> -->
      <div style="width: 2.5em;" class="index-icon">
      </div>
    </div>
    <label class="no_h_styles" >
        <h2>
          Presupuesto
        </h2>
    </label>
  </div>
  <div class="col text-center" routerLink="ingresos" routerLinkActive="active"  style="line-height:5px">
    <div class="d-flex justify-content-center border-right" style="height: 2em;">
      <div style="width: 2.5em;" class="ingresos-icon">
      </div>
    </div>
    <label class="no_h_styles" >
        <h2>
          Ingresos
        </h2>
    </label>
  </div>
  <div class="col text-center" routerLink="gastos" routerLinkActive="active" style="line-height:5px">
    <div class="d-flex justify-content-center border-right" style="height: 2em;">
      <div style="width: 2.5em;" class="gastos-icon">
      </div>
    </div>
    <label class="no_h_styles" >
        <h2>
          Gastos
        </h2>
    </label>
  </div>
  <div class="col text-center" routerLink="estadisticas/resumen" routerLinkActive="active"  style="line-height:5px">
    <div class="d-flex justify-content-center" style="height: 2em;">
      <div style="width: 2.5em;" class="estadisticas-icon">
      </div>
    </div>
    <label class="no_h_styles" >
        <h2>
          Estadísticas
        </h2>
    </label>
  </div>
</div>
