<div class="p-4" >
    <h5 align="center" class="txt_r my-5">Términos y <span class="_androgyne">condiciones</span></h5>
    <p>
      En el presente documento se establecen las condiciones de uso a través de las cuales el USUARIO puede acceder a
      los servicios que contiene la aplicación móvil HAGA CUENTAS, en adelante LA APLICACIÓN y se definen los derechos,
      obligaciones, consecuencias del incumplimiento de las disposiciones definidas y demás información relevante, para
      el uso de LA APLICACIÓN, entre el Banco Davivienda S.A. en adelante “DAVIVIENDA” y el USUARIO, las cuales el
      USUARIO acepta por medio de la utilización de LA APLICACIÓN.
    </p>
    <div>
      <p>
        <b class="txt_r">CLÁUSULA PRIMERA – DEFINICIONES:</b> Para efectos del presente documento, se tendrán en cuenta las siguientes
        definiciones, las cuales podrán estar escritas en mayúsculas o minúsculas.
      </p>
      <ol class="roman">
        <li>
          APLICACIÓN HAGA CUENTAS: Se define como aplicación de carácter informativo que le permite a un usuario el acceso
          a un programa informático, para la realización de una tarea o conjunto de tareas relacionadas con el control de
          presupuesto financiero, en el sistema donde se ejecuta, ya sea en computadoras, tablets o teléfonos inteligentes
        </li>
        <li>
          USUARIO: Se define como usuario, para efectos de LA APLICACIÓN, toda persona natural que descargue esta
          aplicación en su dispositivo móvil.
        </li>
        <li>
          DATOS PERSONALES: Se define como datos personales cualquier dato relativo a una persona física identificada o
          identificable.
        </li>
        <li>
          RESPONSABLE DE LA BASE DE DATOS: Se define como responsable de la base de datos, a la persona física o jurídica
          que administre, gerencie o se encargue de la base de datos, para decidir cuál es la finalidad de la base de datos,
          cuáles categorías de datos de carácter personal deberán registrase y qué tipo de tratamiento se les aplicarán.
        </li>
      </ol>
    </div>
    <div>
      <p>
        <b class="txt_r">CLÁUSULA SEGUNDA - SERVICIOS DE LA APLICACIÓN.</b> Esta aplicación ha sido diseñada para facilitarle al USUARIO,
        únicamente, el control de su presupuesto con el fin de que maneje adecuadamente su dinero. Para este fin, LA
        APLICACIÓN ha desarrollado 3 secciones:
      </p>
      <ol class="roman">
        <li>
          Presupuesto: Permite al USUARIO crear presupuestos personales en las diferentes categorías definidas en LA
          APLICACIÓN. En esta sección el USUARIO encontrará un resumen de sus ingresos y gastos. Se realiza un cálculo de sus
          Ingresos menos sus Gastos.
          Ingresos: el usuario registra los Datos de sus ingresos.
          Gastos: el usuario registra los Datos de sus gastos.
        </li>
        <li>
          Programar Alertas: En esta sección el USUARIO puede crear alertas internas de LA APLICACIÓN, para el manejo de
          su presupuesto o editar las ya existentes.
        </li>
        <li>
          Estadísticas: En esta sección el USUARIO encontrará detalles de la información de su presupuesto, dividido en 4
          ítems.
          <div class="p-3" style="line-height:1.2">
            <div>
              <b class="txt_r">a.</b> Resumen de su presupuesto.
            </div>
            <div>
              <b class="txt_r">b.</b> Gastos por categorías, detalle mediante tabla o gráfica.
            </div>
            <div>
              <b class="txt_r">c.</b> Movimientos de sus Ingresos o Gastos.
            </div>
            <div>
              <b class="txt_r">d.</b> Comparar los últimos 3 o 6 meses de su presupuesto mediante tabla o gráfica.
            </div>
          </div>
        </li>
      </ol>
    </div>
    <div>
      <p>
        <b class="txt_r">CLÁUSULA TERCERA -USO DE LA APLICACIÓN.</b> Los servicios de LA APLICACIÓN y contenidos tendrán las siguientes
        condiciones:
      </p>
      <ol class="roman">
        <li>
          El USUARIO sólo podrá usar LA APLICACIÓN para beneficio personal y exclusivamente para fines que sean lícitos.
        </li>
        <li>
          Para poner al servicio LA APLICACIÓN, DAVIVIENDA podrá utilizar su propia plataforma tecnológica o la de un
          tercero designado por el banco que cumpla con adecuados estándares de seguridad. En tal caso, el USUARIO autoriza
          expresamente a DAVIVIENDA y al tercero a conocer la información necesaria para la ejecución del servicio,
          estrictamente con fines del correcto funcionamiento de esta aplicación.
        </li>
        <li>
          Los contenidos y servicios de LA APLICACIÓN estarán disponibles, a menos que se presente fuerza mayor, caso
          fortuito o hecho de un tercero. DAVIVIENDA procurará que en el menor tiempo posible se repare cualquier problema
          técnico habilitándose el adecuado funcionamiento de LA APLICACIÓN.
        </li>
        <li>
          El uso de LA APLICACIÓN no tiene costo y se podrá suspender temporal o permanentemente el servicio de LA
          APLICACIÓN, por cualquiera de las partes sin ninguna justificación o notificación y en cualquier momento. Asimismo,
          DAVIVIENDA podrá rechazar, denegar, o interrumpir el acceso a LA APLICACIÓN cuando el USUARIO no haga uso adecuado
          del servicio o incumpla con los términos aquí estipulados.
        </li>
        <li>
          El USUARIO ingresará los valores del presupuesto (en adelante DATOS) de manera directa; por lo tanto, reconoce y
          acepta ser el único responsable de la exactitud de dichos DATOS y por consiguiente del resultado del presupuesto.
        </li>
        <li>
          DAVIVIENDA solicitará un Correo Electrónico y una Contraseña, para que el USUARIO de LA APLICACIÓN pueda acceder
          a la información de sus presupuestos registrados en caso de pérdida de estos o del móvil en que tenía LA APLICACIÓN.
          Si el USUARIO no desea registrar un correo electrónico, ni definir una contraseña, igualmente puede hacer uso de LA
          APLICACIÓN pero perderá la información en caso de pérdida del móvil o en caso de borrar memoria caché.
        </li>
        <li>
          LA APLICACIÓN será descargada vía Internet por acceso a través del plan de datos del USUARIO o de acceso a
          Wi-Fi. DAVIVIENDA no proporciona estos accesos a Internet. El USUARIO es el único responsable de obtener el acceso a
          la red de datos necesaria para utilizar LA APLICACIÓN. Al utilizar LA APLICACIÓN desde un dispositivo móvil podrán
          aplicarse las tarifas y tasas de datos móvil y el USUARIO será responsable de dichas tarifas y tasas.
        </li>
        <li>
          El USUARIO es el único responsable de adquirir y actualizar el hardware compatible o los dispositivos
          necesarios para acceder LA APLICACION y cualquier actualización de esta. DAVIVIENDA no garantiza que LA APLICACIÓN
          pueda ser utilizada en cualquier dispositivo.
        </li>
      </ol>
      <p>
        DAVIVIENDA podrá adoptar todos los mecanismos adicionales que estime convenientes, tales como, contraseñas de
        acceso. El USUARIO acepta que DAVIVIENDA será libre de determinar nuevas funcionalidades, formatos, procedimientos,
        condiciones y términos que se tendrán en cuenta en un futuro y que serán parte de LA APLICACIÓN.
      </p>
      <p>
        DAVIVIENDA implementará las medidas adecuadas para garantizar la integridad de los datos, e información que se
        suministren para el uso de LA APLICACIÓN. Sin embargo, el USUARIO reconoce y acepta que es el único responsable del
        adecuado manejo y custodia de las contraseñas, y demás información personal necesaria para acceder a LA APLICACIÓN,
        así como del adecuado uso y resguardo de su dispositivo, y que, cualquier perjuicio, daño, pérdida que pudiera
        ocurrir por culpa del USUARIO será de responsabilidad única de éste sin que se le pueda atribuir ningún tipo de
        responsabilidad a DAVIVIENDA, o a las entidades del mismo grupo de interés económico.
      </p>
    </div>
    <div>
      <p>
        <b class="txt_r">CLÁUSULA CUARTA – NOTIFICACIONES DE LA APLICACIÓN. LA APLICACIÓN</b> cuenta también con notificaciones que el USUARIO
          podrá visualizar en la sección notificaciones de su dispositivo, según lo tenga determinado en la sección de Ajustes
          de su dispositivo móvil, en donde podrá activar, desactivar o cambiar la visualización según sus preferencias
          personales. DAVIVIENDA no tiene ninguna responsabilidad frente a las fallas que tenga la notificación de los
          dispositivos y, por lo tanto, el USUARIO declara indemne a DAVIVIENDA.
      </p>
    </div>
    <div>
      <p>
        <b class="txt_r">CLÁUSULA QUINTA – OBLIGACIONES DEL USUARIO.</b> Además de las obligaciones que se enuncian en el presente documento, el
          USUARIO tendrá las siguientes:
      </p>
      <ol class="roman">
        <li>
          Usar debidamente los servicios y contenidos de LA APLICACIÓN, debiendo abstenerse de emitir instrucciones
          imprecisas, indeterminables o inexactas.
        </li>
        <li>
          El USUARIO se obliga a no divulgar y no dar a conocer a terceros su contraseña de acceso.
        </li>
        <li>
          Establecer los controles necesarios con el fin de evitar que terceros operen los servicios de LA APLICACIÓN,
          asegurando la confidencialidad de la contraseña de acceso.
        </li>
        <li>
          Manejar el dispositivo móvil de manera personal y evitar que terceros tengan acceso a la información aquí
          almacenada, o LA APLICACIÓN.
        </li>
        <li>
          Actualizar permanentemente LA APLICACIÓN, para su correcto funcionamiento.
        </li>
        <li>
          Emplear nombres de categorías lícitas que se ajusten a la realidad y no emplear nombres que se consideren
          discriminatorios, ofensivos, groseros o ilícitos, ni utilizar identidades falsas o identidades de terceras personas.
        </li>
        <li>
          No permitir el acceso a su cuenta por parte de terceras personas.
        </li>
        <li>
          Notificar de forma inmediata a DAVIVIENDA en caso de pérdida, robo o uso no autorizado de la cuenta.
        </li>
      </ol>
    </div>
    <div>
      <p>
        <b class="txt_r">CLÁUSULA SETIMA- EXONERACIÓN DE RESPONSABILIDAD.</b> DAVIVIENDA no será responsable por los siguientes eventos:
      </p>
        <ol class="roman">
          <li>
            Por los daños y perjuicios de cualquier naturaleza, que pueda derivarse del uso o imposibilidad de uso de LA
            APLICACIÓN. En consecuencia, el USUARIO asume toda responsabilidad del manejo no adecuado de LA APLICACIÓN o del
            dispositivo móvil.
          </li>
          <li>
            Por lo daños y perjuicios de cualquier naturaleza, que pueda derivarse del acceso por parte de terceros a la
            cuenta, ya sea por el mal manejo y custodia por parte del USUARIO, de las contraseñas, demás información personal
            necesaria para acceder a LA APLICACIÓN, o por robo o pérdida de éstas.
          </li>
          <li>
            Por los daños y perjuicios de cualquier naturaleza que pueda sufrir el USUARIO como consecuencia de una
            imposibilidad, demora o deficiente transmisión de los DATOS a causa del equipo del USUARIO, el operador del servicio
            de datos o cualquier causa ajena al control de DAVIVIENDA.
          </li>
          <li>
            Por las pérdidas o daños en la información de su cuenta que puedan ocurrir como consecuencia de cualquier fallo
            de almacenamiento producido por una mala transmisión de datos o un error en los sistemas informáticos.
          </li>
          <li>
            Fuerza mayor, caso fortuito, o hecho de un tercero que puedan ocasionarle daños y perjuicios al USUARIO que
            imposibilite, demore, desvíe o altere la información ingresada por el USUARIO y almacenada en su dispositivo o en la
            plataforma tecnológica que disponga DAVIVIENDA.
          </li>
          <li>
            Por los daños y perjuicios que puedan derivarse de la cancelación del servicio y/o suspensión del servicio por
            parte de los proveedores de telefonía celular o del sistema operativo iOS o Android.
          </li>
          <li>
            Por los daños y perjuicios que puedan derivarse de la suspensión temporal o permanente de LA APLICACIÓN por
            parte de DAVIVIENDA.
          </li>
          <li>
            Por la confiabilidad del equipo empleado por el USUARIO o de los medios de comunicación, ni por la
            disponibilidad de los servicios y contenidos de LA APLICACIÓN en el mismo.
          </li>
          <li>
            Por los daños ocasionados por cualquier tipo de virus que pudiere infectar al equipo a causa del acceso, uso o
            navegación a través de LA APLICACIÓN. Por cualquier tipo de programa que pueda borrar la memoria cache de los
            dispositivos.
          </li>
          <li>
            Por los resultados arrojados por LA APLICACIÓN conforme a los DATOS suministrados por el USUARIO.
          </li>
          <li>
            Por los daños o perjuicios de cualquier naturaleza derivado de la utilización del USUARIO de la información
            obtenida de LA APLICACIÓN y las decisiones tomadas por el USUARIO en virtud de dicha información, toda vez que la
            misma no debe ser considerada como un consejo de inversión, ni calcula rendimientos, ni se puede entender como
            servicio de asesoría.
          </li>
          <li>
            Por información falsa, errónea o inexacta que haya sido ingresada por el USUARIO.
          </li>
        </ol>
        <p>
          De conformidad con lo anterior, el USUARIO acepta y se compromete a indemnizar y a mantener indemne a DAVIVIENDA y a
          las entidades parte de su mismo grupo de interés económico, así como también a los socios, directores, gerentes,
          asesores y demás empleados de las mismas, de todo los costos (incluidos los costos y honorarios de cualquier defensa
          legal que se estimen pertinentes) y contra cualesquiera eventuales condenatorias por daños o perjuicios, directa o
          indirectamente, derivados de cualquier reclamo, sea judicial o extrajudicial, por parte de terceros por
          incumplimiento a las disposiciones contenidas en el presente contrato, incluyendo pero no limitado a ingreso de
          información falsa, errónea o inexacta.
        </p>
    </div>
    <div>
      <p>
        <b class="txt_r">CLÁUSULA OCTAVA-ALMACENAMIENTO DE LOS DATOS INGRESADOS POR EL USUARIO.</b> Para
        aquellos usuarios que suministren correo electrónico y contraseña, la información será almacenada
        en la plataforma tecnológica de DAVIVIENDA que se encuentra en la empresa Grupo Spira S.A, ; la
        información allí almacenada será de uso exclusivo del usuario, cuando quiera rectificar, modificar o suprimir
        información personal, pueden tramitarlos a través del colaborador de Davivienda encargado de Responsabilidad Social,
        teléfono 2588-9222. Para aquellos USUARIOS que no
        suministren correo electrónico y contraseña, el almacenamiento de los DATOS ingresados por el
        USUARIO en LA APLICACIÓN se realizará en su dispositivo móvil, ocupando espacio de su memoria
        caché-
      </p>
    </div>
    <div>
      <p>
        <b class="txt_r">CLÁUSULA NOVENA -LICENCIA DE USO.</b> Sujeto al cumplimiento de estas condiciones, DAVIVIENDA le otorga al USUARIO una
        licencia limitada, no exclusiva, no sublicenciable, revocable y no transferible para: (i) el acceso y uso de LA
        APLICACIÓN en su dispositivo personal sólo en relación con su uso de los Servicios; y (ii) el acceso y uso de
        cualquier contenido, información y material relacionado que pueda ponerse a disposición a través de LA APLICACIÓN,
        únicamente para uso personal.
      </p>
      <p>
        En ningún momento DAVIVIENDA otorga derecho de propiedad sobre el software, sino que cede el derecho de uso del
        mismo en las condiciones descritas, no entendiéndose en ningún caso que se habilite para su reproducción y difusión
        pública, cesión, venta, alquiler o préstamo, comprometiéndose a no ceder su uso parcial o total de ninguna forma,
        así como a no divulgar, publicar, ni poner de ninguna otra forma a disposición de terceros.
      </p>
    </div>
    <div>
      <p>
        <b class="txt_r">CLÁUSULA DÉCIMA –PROPIEDAD INTELECTUAL.</b> El USUARIO reconoce que no adquiere ningún derecho de propiedad intelectual
        al descargar LA APLICACIÓN. Los derechos de propiedad intelectual de LA APLICACIÓN son reservados y de propiedad
        exclusiva de DAVIVIENDA. A título enunciativo, pero no limitativo, todos los logotipos, nombres comerciales,
        contenidos sonoros, audiovisuales, señales y signos, incluidos en LA APLICACIÓN, se encuentran protegidos por los
        derechos de propiedad intelectual e industrial de DAVIVIENDA, por lo que queda terminantemente prohibido que el
        USUARIO de LA APLICACIÓN pueda descompilar, reproducir, copiar, modificar o manipular de ningún otro modo cualquiera
        de los contenidos de la aplicación, en su totalidad o en parte, así como modificarlo, ya sea en su apariencia
        externa como en su funcionamiento operativo.
      </p>
    </div>
    <div>
      <p>
        <b class="txt_r">CLÁUSULA DECIMA PRIMERA-AUTORIZACIÓN TRATAMIENTO DE DATOS.</b> El USUARIO autoriza a DAVIVIENDA para que utilice los
        datos que ha suministrado o que llegue a suministrar para: (i) la evaluación y aprobación de un producto (s) y/o
        servicio (s), (ii) el desarrollo de la relación contractual correspondiente a un producto (s) y/o servicio (s),
        (iii) el envío de información de novedades o cambios en los producto (s) y/o servicio (s), (iv) el envío de
        información sobre eventos y realización de actos de promoción y publicidad, (v) actualizar los datos, (vi)
        desarrollar herramientas de prevención de fraude y (vii) hacer estudios estadísticos o de comportamiento sobre sus
        gustos y preferencias. Así mismo autoriza que dichos datos sean compartidos con las filiales y las demás entidades
        que forman parte del mismo grupo de interés económico, con el fin de que le puedan ser ofrecidos otros productos y
        servicios. Adicionalmente, autoriza para que <b>DAVIVIENDA</b> comparta información con terceros proveedores, con el fin de
        llevar a cabo actividades operativas y administrativas relacionadas con la funcionalidad y utilización de <b>LA
        APLICACIÓN.</b> Para todos los fines anteriores autoriza el uso de mí e-mail, correo postal, teléfono, celular, SMS,
        redes sociales o medios similares.
      </p>
    </div>
    <div>
      <p>
        <b class="txt_r">CLÁUSULA DÉCIMA SEGUNDA-EJERCICIO DE LOS DERECHOS DELTITULAR DE LOS DATOS.</b> El titular de los datos personales podrá
        ejercitar gratuitamente sus derechos de acceso, rectificación, modificación, revocación o eliminación de sus datos
        personales. En concreto, el titular tiene derecho a:
      </p>
      <ol class="roman">
        <li>
          Obtener la información relacionada con sus datos personales, entre ellos lo relativo a las condiciones, finalidad
          y generalidades de su tratamiento.
        </li>
        <li>
          Solicitar que se rectifique sus datos personales por considerar que son inexactos, incompletos o confusos.
        </li>
        <li>
          Solicitar la supresión o eliminación, total o parcial de los datos personales.
        </li>
      </ol>
      <p>
        En caso de que el titular de los datos personales desee ejercitar alguno de los derechos indicados, lo puede hacer a
        través del siguiente medio:
      </p>
      <div>
        <ul>
          <li> Correo electrónico dirigido a Allison.villalobos@davivienda.cr</li>
        </ul>
      </div>
    </div>
    <div>
      <p>
        <b class="txt_r">CLAUSULA DÉCIMA TERCERA-DEL RESPONSABLE DE LA BASE DE DATOS</b> – La entidad responsable del tratamiento de los datos
        personales proporcionados es:
      </p>
      <p>
        Banco Davivienda (Costa Rica) S.A.<br>
        Cédula jurídica 3-101-046008<br>
        Domicilio, Edificio Meridiano, 8vo piso, Guachipelín, Escazú, provincia de San José Teléfonos: 2588-9001
      </p>
      <p>
        Correo electrónico de contacto en materia de datos personales: Allison.villalobos@davivienda.cr
      </p>
    </div>
    <div>
      <p>
        <b class="txt_r">CLÁUSULA DÉCIMA CUARTA- VIGENCIA, MODIFICACIONES Y TERMINACIÓN.</b> La prestación del servicio a través de LA APLICACIÓN
        tiene una duración indefinida. Sin embargo, DAVIVIENDA se reserva el derecho de adicionar, suspender, y/o cancelar
        alguno o todos los servicios ofrecidos al USUARIO a través de LA APLICACIÓN. Las modificaciones surtirán efecto tan
        pronto sean publicadas a través de LA APLICACIÓN.
      </p>
      <p>
        Los presentes términos y condiciones pueden ser revisados y modificados por parte de DAVIVIENDA en cualquier
        momento, sólo publicando los cambios en sección correspondiente de LA APLICACIÓN. Se entiende que no existe ninguna
        obligación por parte de DAVIVIENDA de notificar individualmente al USUARIO de los cambios realizados. Es
        responsabilidad exclusiva del USUARIO mantenerse informado de cualquier modificación que sea realizada en LA
        APLICACIÓN.
      </p>
    </div>
    <div>        
      <p>
        <b class="txt_r">CLÁUSULA DÉCIMA QUINTA– REGULACIÓN.</b> La incorporación a los servicios de LA APLICACIÓN estará sujeta y se regulará
        por lo previsto en los presentes Términos y Condiciones y en lo no previsto por la normativa que rija la materia.
      </p>
    </div>
    <div>
      <p>
        <b class="txt_r">CLAUSULA DÉCIMA SEXTA - LEY APLICABLE.</b> Para la interpretación, cumplimiento y ejecución de estos Términos y
        Condiciones de Uso, DAVIVIENDA y el USUARIO acuerdan que se regirán por las leyes de _______- Cualquier disputa,
        conflicto, reclamación o controversia, del tipo que sea, que resulte de los presentes Términos y Condiciones o que
        se relacione en gran parte con ellas, incluyendo las relativas a su validez, interpretación y exigibilidad deberán
        someterse a los Tribunales de Justicia de _____.
      </p>
    </div>
    <div>
      <p>
        <b class="txt_r">CLAUSULA DÉCIMA SÉTIMA: ALCANCE.</b> El presente documento constituye los Términos y Condiciones de uso completo, y
        sustituye y reemplaza a cualquier otro documento.
      </p>
    </div>
    <div>
      <p>
        <b class="txt_r">CLAUSULA DÉCIMA OCTAVA-NOTIFICACIONES.</b> DAVIVIENDA podrá notificar al USUARIO mediante el envío de un correo
        electrónico a la dirección registrada en la cuenta o por medio de una notificación en LA APLICACIÓN para el caso de
        los USUARIOS que no hayan ingresado una dirección de correo electrónico.
        El USUARIO podrá notificar a DAVIVIENDA por correo electrónico a la siguiente dirección:
        Allison.villalobos@davivienda.cr.
      </p>
    </div>
  </div>