<div class="modal-body" style="padding: 4rem;">
  <div class="row w-100 mx-0 justify-content-center">
    <div class="col-12 m-5">
      <div class="row w-100 mx-0 justify-content-center">
        <ngb-timepicker [(ngModel)]="time" [size]="'large'" [meridian]="meridian"></ngb-timepicker>
      </div>
    </div>
    <div class="col-12 m-0">
      <div class="row mx-0 w-100 justify-content-center">
        <button type="button" class="btn btn-outline-secondary mr-2" (click)="activeModal.close('Close click')">Establecer</button>
        <button type="button" class="btn btn-outline-dark ml-2" (click)="activeModal.close('Close click')">Cancelar</button>
      </div>
    </div>
  </div>
</div>
<!-- <div class="modal-footer">
</div> -->
