@font-face {
    font-family: "Alte Haas Grotesk Regular";
    src: url("/assets/fonts/alte_haas_grotesk/AlteHaasGroteskRegular.ttf") format("truetype");
}

@font-face {
    font-family: "Alte Haas Grotesk Bold";
    src: url("/assets/fonts/alte_haas_grotesk/AlteHaasGroteskBold.ttf") format("truetype");
}

@font-face {
    font-family: "Androgyne Regular";
    src: url("/assets/fonts/androgyne/Androgyne Regular.otf") format("opentype");
}