<div class="divLogin">
  <div>
    <div class="row justify-scontent-center text-center m-0">
      <div class="col">
        <img width="125" [src]="logo" alt="">
      </div>
      <div class="col-12 mb-3" style="line-height: 1">
        <div class="txt_dg" style="font-size: 18pt">Bienvenido a</div>
        <div class="txt_r _androgyne no_h_styles" style="font-size: 24pt">
          <h1>Haga Cuentas</h1>
        </div>
      </div>
      <div class="w-100 text-left">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>